doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/style.css")
        link(rel="stylesheet", href="css/normalize.css")
        title Your pizza
    body 
        .container
            .block1
                header 
                    .menu
                        ul.navigation
                            li 
                                a(href="") About as
                            li 
                                a(href="") Menu
                                ul 
                                    li 
                                        a(href="") Pizza 
                                    li 
                                        a(href="") Sushi  
                                    li 
                                        a(href="") Salad  
                                    li 
                                        a(href="") Drinks  
                            li 
                                a(href="") Contact
                            .clear
                    h2.logo Yur_Nis
                    .header-contacts
                        p Every day 24/7
                        img.tel(src="img/tel.jpeg")
                        a.tel(href="tel:+0800000000") 0 800 00 00 00
                        img.img(src="img/img.svg")
                .block1-1
                    img.im2(src="img/img2.png")
                    .block1-text
                        h1 The best pizza in the city
                        p We prepare the most delicious pizza, fast and free delivery. For people as for themselves;)
                    img.im1(src="img/img1.png")
                .block1-2 
                    img.im3(src="img/img3.png", alt="")
                    img.pizza(src="img/pizza.png", alt="")
                    img.im4(src="img/img4.png", alt="")

            .block2 
                h2.popular Popular dishes
                .block-button    
                    button.but1
                        h4.piz Pizza
                    button.but
                        h4.button-text Sushi
                    button.but
                        h4.button-text Salad
                    button.but
                        h4.button-text Dessert
                    button.but
                        h4.button-text Drinks
                .block-pizza
                    .block-pizza-1
                        img.p(src="img/p1.png")
                        h3.name-pizza Mushroom
                        p.text-pizza Mushroom, Mozzarella, Cheddar, Blue, Parmesan
                        p.cost-pizza 119 UAH
                        img.basket(src="img/basket.jpeg")
                    .block-pizza-1
                        img.p(src="img/p2.jpg")
                        h3.name-pizza Carbonara
                        p.text-pizza Dough, Mozzarella, Cheddar, Blue, Parmesan
                        p.cost-pizza 131 UAH
                        img.basket(src="img/basket.jpeg")
                    .block-pizza-1
                        img.p(src="img/p3.jpg")
                        h3.name-pizza Philadelphia
                        p.text-pizza Dough, mozzarella, barrel, eggs, Parmesan cheese
                        p.cost-pizza 116 UAH
                        img.basket(src="img/basket.jpeg")
                    .block-pizza-1
                        img.p(src="img/p4.jpg")
                        h3.name-pizza Di mare
                        p.text-pizza Dough, mozzarella, barrel, eggs, Parmesan cheese
                        p.cost-pizza 109 UAH
                        img.basket(src="img/basket.jpeg")
                    .block-pizza-1
                        img.p(src="img/p5.jpg")
                        h3.name-pizza Salami
                        p.text-pizza Salami, Mozzarella, Cheddar, Blue, Parmesan
                        p.cost-pizza 119 UAH
                        img.basket(src="img/basket.jpeg")
                    .block-pizza-1
                        img.p(src="img/p6.jpg")
                        h3.name-pizza  Three cheeses
                        p.text-pizza Chees Feta, mozzarella, barrel, Parmesan cheese
                        p.cost-pizza 99 UAH
                        img.basket(src="img/basket.jpeg")
                    .block-pizza-1
                        img.p(src="img/p7.jpg")
                        h3.name-pizza Quatro formagio
                        p.text-pizza Dough, mozzarella, barrel, eggs, Parmesan cheese
                        p.cost-pizza 118 UAH
                        img.basket(src="img/basket.jpeg")
                    .block-pizza-1
                        img.p(src="img/p8.jpg")
                        h3.name-pizza Hawaiian
                        p.text-pizza Chicken, Pineapple, mozzarella, barrel, Parmesan cheese
                        p.cost-pizza 123 UAH
                        img.basket(src="img/basket.jpeg")              
                .block-pizza-2
                    img.im5(src="img/img5.png", alt="")
                    img.update(src="img/update.png", alt="")
                    img.im6(src="img/img6.png", alt="")   
                
                .block3
                    .foto1
                    .foto2
                    .foto3             
                    .foto4
                    .foto5
                    .foto6
                    .block-inst
                        p.inst Instagram:  <span class="inst">@Y.u.r_N.i.s  </span>
            
            .block5 
                .block5-1
                    img.f1(src="img/f1.png")
                    .b5-h
                        h1 Fill out the form
                        h1 and we will call you
                    img.f1(src="img/f2.png")
                .block-button2    
                    button.but2
                        h4.but2-1 Your name
                    button.but2
                        h4.but2-1 Phone number
                    button.but3
                        h4.call Сall back    
                .block5-2
                    img.f2(src="img/f4.png", alt="")
                    img.car(src="img/car.png", alt="")
                    img.f3(src="img/f3.png", alt="")

            footer 
                .block-footer
                    p Best pizza in your city 
                    h3 Y.u.r_N.i.s 
                    p For people as for themselves                         